

{{#each this}}
<div class="country-title">
    <img class="country-flag" src="{{flags.svg}}" alt="{{name}}" >
    <p class="country-name"> {{name.official}}</p>
</div>
<ul id= "details" class="country-detailed-info">
    <li class="country-capital"><Span class="key">capital: </Span>{{capital}}</li>
    <li class="country-population"><Span class="key">population: </Span>{{population}}</li>
    <li class="country-languages"><Span class="key">languages:</Span>
{{#each languages}}
{{this}}
{{/each}}
    </li>
</ul>
{{/each}}